<h1>登録</h1>

<%= form_for(@property) do |f| %>

  <div class="field">
    <%= f.label :物件名 %>
    <%= f.text_field :property_name %>
  </div>

  <div class="field">
    <%= f.label :賃料 %>
    <%= f.number_field :fee %>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :築年数 %>
    <%= f.number_field :building_age %>
  </div>

  <div class="field">
    <%= f.label :備考 %>
    <%= f.text_area :remarks %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
